<a href="https://colab.research.google.com/github/MingzheHu-Duke/Data-Science-Tutorials/blob/main/Pandas/Pandas_Basic_Functionality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series(np.random.randn(4))
print(s)

0   -0.305314
1    0.298300
2   -1.267383
3   -0.467083
dtype: float64

In [5]:
# Return the list of labels of the series
print(s.axes)

[RangeIndex(start=0, stop=4, step=1)]

In [6]:
# Check if the object is empty or not
print(s.empty)

False

In [7]:
# Dimension of the Series
print(s.ndim)

1

In [8]:
# The size of the object
print(s.size)

4

In [9]:
# Return the true values of the series as an array
print(s.values)

[-0.3053141   0.29830021 -1.2673827  -0.467083  ]

In [11]:
# Head and Tail
print(s.head(2))

print(s.tail(2))

0   -0.305314
1    0.298300
dtype: float64
2   -1.267383
3   -0.467083
dtype: float64

In [13]:
# The axes of a DataFrame
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print("Row axis labels and column axis labels are:")
print(df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]